/AutomaticScoreCheck.class
/CheckInputOutput.class
/ExamplePrint.class
/ExampleScanner.class
/ExampleTextIO.class
/ExampleTrueLove.class
/ExampleVariables.class
/Factorial.class
/FactorialTest.class
/QuizMaster.class
/QuizMasterTest.class
/TextIO.class
/Winner.class
/WinnerTest.class
